.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body{
  height: 100%;
}

body{
  background: #FFF;
  font-family: Helvetica Neue;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#screen{
  background: #000;
  width: 320px;
  height: 240px;
  overflow: hidden;
}
  
h1{
  font-size: 18px;
  color: #eee;
  display: inline-block;
  padding: 0;
  margin: 0;
}

a{
  color: white;
}

p{
  margin-top: 1em;
  text-align: center;
  color: #aaa;
} 
  
button{
  background: #808080;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  border: none;
  box-shadow: 3px 3px;
}

button:hover{
  outline: none;
  border: none;
  background: #FFCD00;
}

button:focus{
  outline: none;
  border: none;
  background: #FFCD00;
}

button:active{
  outline: none;
  border: none;
  background: #FFCD00;
}  

#toolbar{
  background: #202020;
  display: flex;
  width: 100%;
  height: 53px;
  padding-top: 5px;
  padding-left: 5px;
} 

#date-time{
  flex: 50%;
}  

#nav{
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#date{
  color: #FFCD00;
  display: block;
  margin-top: 5px;
}

#time{
  color: #FFFFFF;
  display: block;
  margin-top: 5px;
}
  
#main{
  display: flex;
  height: 70%;
} 

#hvac-control{
  flex: 5%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 10px 0;
}  

#hvac-button{
  display: block;
  width: 40px;
  height: 40px;
  margin: 5% 0 5% 10px;
} 

#temp-container{
  flex: 30%;
  height: 100%;
}  

#curr-temp{
  color: #FFF;
  font-size:125px;
  line-height: 118%;
  padding: 0;
  margin: 0;
}

#status-container{
  width: 100%;
  height: 35px;
  text-align: center;
  background: #4D4D4D;
  border-radius: 10px 10px 0 0;
} 

#hvac-status-id{
  color: #FFF;
  display: inline-block;
  padding-right: 10px;
  font-size: 14px;
  padding-bottom: 20px;
}  

#hvac-status{
  color: #FFCD00;
  display: inline-block;
  font-size: 14px;
  padding-bottom: 20px;
}

#adjust-container{
  flex: 15%;
  height: 100%;
  display: flex;
  align-items: center;
}

#adjust-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #4D4D4D;
  width: 85%;
  height: 133px;
  margin-left: 20px;
  border-radius: 10px 0 0 10px;
}

#desired-temp-label{
  width: 100%;
  color: #FFF;
  font-size: 12px;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

#desired-temp{
  width: 100%;
  color: #FFF;
  font-size: 30px;
  line-height: 100%;
  padding: 0;
  margin: 0;
}  

#hold-btn{
  color: #FFF;
  font-size: 12px;
  padding: 0;
  width: 75%;
  height: 25px;
  border-radius: 5px;
  box-shadow: 1px 1px #000;
}  

#arrow-up{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #FFCD00;
}  

#arrow-down{
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #FFCD00;
}